# AirBnB NY Locations Data Case Study

In this final project, you task will be to take the data provided and find evidance to answer the following questions.

1. Which hosts are the busiest and why?
2. How many neighborhood groups are available and which shows up the most?
3. Are private rooms the most popular in manhattan?
4. Which hosts are the busiest and based on their reviews?
5. Which neighorhood group has the highest average price?
6. Which neighborhood group has the highest total price?
7. Which top 5 hosts have the highest total price?
8. Who currently has no (zero) availability with a review count of 100 or more?
9. What host has the highest total of prices and where are they located?
10. When did Danielle from Queens last receive a review?

You will be given **4 hours** to complete this assignment. 
**Be Advised** I will go dark for this intire assignment time period. That said, any questions that you would like to ask about the data, or the project **MUST** be asked before the time starts. Once the time has started, I can no longer give information.

This is to similate what you will face when you are out in the wild. 

Happy Coding!

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [7]:
cd = pd.read_csv('files/AB_NYC_2019.csv')
cd.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0

In [8]:
# How many neighborhood groups are available and which shows up the most?
cd['count'] = 1
neighbourhoods = cd.groupby('neighbourhood', as_index=False).count().sort_values('count', ascending=False)[['neighbourhood','count']]

hood_count = neighbourhoods['neighbourhood'].count()
hood_count

top_neighbourhood = neighbourhoods.head(1)
print(f"In total, there are {hood_count} different neighbourhoods listed. The one that shows up the most is {top_neighbourhood.iloc[0]['neighbourhood']} which shows up {top_neighbourhood.iloc[0]['count']} times.")
top_neighbourhood.iloc[0]['count']


neighbourhood_groups = cd.groupby('neighbourhood_group', as_index=False).count().sort_values('count', ascending=False)[['neighbourhood_group','count']]
neighbourhood_groups_count = neighbourhood_groups['neighbourhood_group'].count()
neighbourhood_groups_count

top_neighbourhood_group = neighbourhood_groups.head(1)

top_neighbourhood_group.iloc[0]['neighbourhood_group']
top_neighbourhood_group.iloc[0]['count']
print(f"Additionally - in total there are {neighbourhood_groups_count} different neighborhood groups, of which {top_neighbourhood_group.iloc[0]['neighbourhood_group']} is the most popular with {top_neighbourhood_group.iloc[0]['count']} occurrences.")

In total, there are 221 different neighbourhoods listed. The one that shows up the most is Williamsburg which shows up 3920 times.
Additionally - in total there are 5 different neighborhood groups, of which Manhattan is the most popular with 21661 occurrences.

In [9]:
# Are private rooms the most popular in manhattan?

manhattan_listings = cd.loc[cd['neighbourhood_group'] == 'Manhattan']
top_manhattan_roomtype = manhattan_listings.groupby('room_type', as_index=False).count().sort_values('count', ascending=False).head(1)
print(f"We found that the most popular room type in Manhattan is: {top_manhattan_roomtype.iloc[0]['room_type']}")

We found that the most popular room type in Manhattan is: Entire home/apt

In [10]:
# Which hosts are the busiest and based on their reviews?

top_host = cd.groupby('host_id', as_index=False).count().sort_values('count', ascending=False)[['host_id','number_of_reviews','count']]
top_host.iloc[0]['host_id']
print(f"From our review, we found that Host ID #: {top_host.iloc[0]['host_id']} was the busiest, as they have the most number of properties on the list.")
top_host_by_reviews = cd.groupby('host_id',as_index=False).sum().sort_values('number_of_reviews', ascending=False).head(1)
print(f"Going by review numbers, we found that Host ID#: {int(top_host_by_reviews.iloc[0]['host_id'])} was the most popular, with {int(top_host_by_reviews.iloc[0]['number_of_reviews'])} reviews across their properties.")

From our review, we found that Host ID #: 219517861 was the busiest, as they have the most number of properties on the list.
Going by review numbers, we found that Host ID#: 37312959 was the most popular, with 2273 reviews across their properties.

In [11]:
#Which neighorhood group has the highest average price?
neighbourhood_groups_prices = cd.groupby('neighbourhood_group', as_index=False).mean().sort_values('price', ascending=False)[['neighbourhood_group','price']]
priciest_neighbourhood_group = neighbourhood_groups_prices.head(1)

print(f"According to the data, the neighbourhood group with the highest average price is the neighbourhood group of: {priciest_neighbourhood_group.iloc[0]['neighbourhood_group']} with an average price of ${round(priciest_neighbourhood_group.iloc[0]['price'],2)}")

According to the data, the neighbourhood group with the highest average price is the neighbourhood group of: Manhattan with an average price of $196.88

In [13]:
# Which neighbor hood group has the highest total price?

cd[['neighbourhood_group', 'neighbourhood', 'price']].sort_values('price',ascending=False)
highest_price_properties = cd[['neighbourhood_group', 'neighbourhood', 'price']].sort_values('price',ascending=False).head(3)



highest_price_properties.iloc[0]['neighbourhood_group'] 
highest_price_properties.iloc[0]['price']

highest_price_properties.iloc[1]['neighbourhood_group'] 
highest_price_properties.iloc[1]['price']

highest_price_properties.iloc[2]['neighbourhood_group'] 
highest_price_properties.iloc[2]['price']

print(f"3 Neighbourhood groups share the title for having the highest priced property, they are: {highest_price_properties.iloc[0]['neighbourhood_group']}, {highest_price_properties.iloc[1]['neighbourhood_group']} and {highest_price_properties.iloc[2]['neighbourhood_group']}.")

highest_sum_ng = cd.groupby('neighbourhood_group', as_index = False).sum()[['neighbourhood_group','price']].sort_values('price', ascending=False).head(1)
print(f"According to the data, the Neighbourhood Group with the highest sum of prices is: {highest_sum_ng.iloc[0]['neighbourhood_group']} where the sum of all listed prices is: ${highest_sum_ng.iloc[0]['price']}")

3 Neighbourhood groups share the title for having the highest priced property, they are: Queens, Brooklyn and Manhattan.
According to the data, the Neighbourhood Group with the highest sum of prices is: Manhattan where the sum of all listed prices is: $4264527

In [14]:
#Which top 5 hosts have the highest total price?
highest_price_hosts = cd[['host_id', 'host_name', 'price']].sort_values('price',ascending=False).head()
highest_price_hosts
priciest_host_list = []
for host in range(len(highest_price_hosts)):
    priciest_host_list.append(f"{highest_price_hosts.iloc[host]['host_name']} - host ID#:{highest_price_hosts.iloc[host]['host_id']} and a price of: ${highest_price_hosts.iloc[host]['price']}")
print(f"Those hosts with the top 5 highest price listings are: 1st {priciest_host_list[0]}, 2nd {priciest_host_list[1]}, 3rd {priciest_host_list[2]}, 4th {priciest_host_list[3]} and 5th {priciest_host_list[4]}")

highest_sum_hosts = cd.groupby('host_id', as_index=False).sum().sort_values('price', ascending=False).head()
priciest_sum_host_list = []

for host in range(len(highest_sum_hosts)):
    priciest_sum_host_list.append(f"Host ID: {int(highest_sum_hosts.iloc[host]['host_id'])} with prices across their properties adding to: ${round(highest_sum_hosts.iloc[host]['price'])}")

print(f"When ordered by the sum of prices across their properties, the top 5 hosts are: ")
print(f"1st - {priciest_sum_host_list[0]}")
print(f"2nd - {priciest_sum_host_list[1]}")
print(f"3rd - {priciest_sum_host_list[2]}")
print(f"4th - {priciest_sum_host_list[3]}")
print(f"5th - {priciest_sum_host_list[4]}")

Those hosts with the top 5 highest price listings are: 1st Kathrine - host ID#:20582832 and a price of: $10000, 2nd Erin - host ID#:5143901 and a price of: $10000, 3rd Jelena - host ID#:72390391 and a price of: $10000, 4th Matt - host ID#:4382127 and a price of: $9999 and 5th Amy - host ID#:3906464 and a price of: $9999
When ordered by the sum of prices across their properties, the top 5 hosts are:
1st - Host ID: 219517861 with prices across their properties adding to: $82795
2nd - Host ID: 107434423 with prices across their properties adding to: $70331
3rd - Host ID: 156158778 with prices across their properties adding to: $37097
4th - Host ID: 205031545 with prices across their properties adding to: $35294
5th - Host ID: 30283594 with prices across their properties adding to: $33581

In [15]:
# Who currently has no (zero) availability with a review count of 100 or more?

zero_cd = cd.groupby('host_id',as_index=False).sum().sort_values('number_of_reviews', ascending=False)
zero_cd

print('There are 136 hosts that both have zero availability and 100 or more reviews, as seen below:')
zero_cd.loc[(zero_cd['availability_365'] == 0) & (zero_cd['number_of_reviews'] >= 100)]

There are 136 hosts that both have zero availability and 100 or more reviews, as seen below:

,host_id,id,latitude,longitude,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365,count
17276,22959695,63732079,203.47368,-369.12657,259,5,1157,30.19,25,0,5
28819,99392252,61989292,162.76779,-295.77713,226,4,732,22.17,16,0,4
30142,121391142,35557158,81.33135,-147.52700,130,2,693,24.96,4,0,2
1866,792159,166172,40.70283,-73.92131,60,3,480,6.70,1,0,1
21420,37818581,63181911,163.20852,-295.75429,360,4,479,12.16,16,0,4
...,...,...,...,...,...,...,...,...,...,...,...
16498,21090508,14455841,81.39672,-147.87008,98,10,100,2.10,4,0,2
28635,96148809,15523119,40.68227,-73.93479,150,2,100,3.26,1,0,1
17044,22423049,9544914,40.67157,-73.94117,36,2,100,2.28,1,0,1
31244,140293912,63907676,121.93851,-221.93403,310,9,100,4.97,9,0,3
22391,42399786,13065356,40.73564,-73.99823,145,3,100,2.62,1,0,1

In [16]:
# What host has the highest total of prices and where are they located?

highest_sum_hosts

cd[cd['host_id'] == 219517861].groupby('neighbourhood_group').count()

print('The host with the highest total of prices is: Host ID#: 219517861, and all of their properties are in the Manhattan neighbourhood group.')

The host with the highest total of prices is: Host ID#: 219517861, and all of their properties are in the Manhattan neighbourhood group.

In [17]:
# When did Danielle from Queens last receive a review?

danielle_cd = cd.loc[(cd['host_name'] == 'Danielle') & (cd['neighbourhood_group'] == 'Queens') & (cd['number_of_reviews'] != 0)].sort_values(['host_id','last_review'], ascending=False)
danielle_data = []
for i in range(len(danielle_cd.head(3))):
    danielle_data.append(f"{danielle_cd.iloc[i]['host_name']} (ID #: {danielle_cd.iloc[i]['host_id']})s last review was on: {danielle_cd.iloc[i]['last_review']}")
print(danielle_data[0])
print(danielle_data[1])
print(danielle_data[2])

danielle_cd2 = cd.loc[(cd['host_name'] == 'Danielle') & (cd['neighbourhood'] == 'Queens Village')]
danielle_cd2

Danielle (ID #: 201647469)s last review was on: 2019-06-20
Danielle (ID #: 154256662)s last review was on: 2018-01-02
Danielle (ID #: 26432133)s last review was on: 2019-07-08

Empty DataFrame
Columns: [id, name, host_id, host_name, neighbourhood_group, neighbourhood, latitude, longitude, room_type, price, minimum_nights, number_of_reviews, last_review, reviews_per_month, calculated_host_listings_count, availability_365, count]
Index: []

## Further Questions

1. Which host has the most listings?

In [18]:
most_listing_host = cd.groupby('host_id', as_index=False).count().sort_values('count', ascending=False)[['host_id','count']].iloc[0]['host_id']
most_listing_host_count = cd.groupby('host_id', as_index=False).count().sort_values('count', ascending=False)[['host_id','count']].iloc[0]['count']

print(f'Host ID {most_listing_host} has the most listings according to the data, with {most_listing_host_count} listings.' )

Host ID 219517861 has the most listings according to the data, with 327 listings.

2. How many listings have completely open availability?

In [19]:
open_available = cd.loc[cd['availability_365'] == 365].count()['count']

print(f'There are currently {open_available} properties with completely open availability (365/365 availability).')

There are currently 1295 properties with completely open availability (365/365 availability).

3. What room_types have the highest review numbers?

In [20]:
highest_room_type = cd.groupby('room_type', as_index=False).sum()[['room_type','number_of_reviews']].sort_values('number_of_reviews', ascending=False).iloc[0]['room_type']
highest_room_reviews = cd.groupby('room_type', as_index=False).sum()[['room_type','number_of_reviews']].sort_values('number_of_reviews', ascending=False).iloc[0]['number_of_reviews']
print(f"The type of room which has the highest amount of rooms is the: {highest_room_type} which has a total of {highest_room_reviews} reviews")

The type of room which has the highest amount of rooms is the: Entire home/apt which has a total of 580403 reviews

# Final Conclusion

In this cell, write your final conclusion for each of the questions asked.

Also, if you uncovered some more details that were not asked above, please discribe them here.

-- Add your conclusion --